*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monsterrat', sans-serif;
    background-image: url(backgroundimageweather.jpg);
    background-size: cover;
    background-position: top center;
}
.app-wrap {
    display: column;
    
}